---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import Showcase from "../components/Showcase.astro";
import YouTubeProfile from "../components/YouTubeProfile.astro";
import ImageCarousel from "../components/ImageCarousel.vue";
import { Image } from "astro:assets";
export const prerender = true;

const text =
  "On a day like any other, you veer from life’s culturally-designated path and realize that a world of opportunities lies just ahead. It may sound like a passage from a children’s book meant to inspire courage, but in reality, this realization is one of the most unsettling you will ever experience. In this humble blog, you will find the tools from which I have crafted the ark I use to navigate through the sea of life. It may not be a lot, but it will grow alongside my web developer skills and my experiences while playing life itself.";
---

<Layout title="About Astro">
  <Showcase heading="Alejandro Bocchicchio's Blog" isAbout={true} text={text} />
  <section class="page-content">
    <div class="container" style="text-justify: auto; text-align: center">
      <Card><ImageCarousel client:load /></Card>

      <div id="youtube-profile">
        <h1>YouTube</h1>

        <YouTubeProfile />
      </div>

      <div style="width: 100%; display: flex; justify-content: center;">
        <div
          style="width: 75%; height: 0; padding-bottom: 66%; position: relative;"
        >
          <iframe
            src="https://giphy.com/embed/VHTUhqI82ZgPK?rid=no_related"
            width="75%"
            height="75%"
            style="position: absolute; left: 0; right: 0; margin: auto;"
            frameborder="0"
            class="giphy-embed"></iframe>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center flex-1">
      <div class="image">
        <!-- Show this image for large screens and hide for small -->
        <Image
          class="hidden image lg:inline-block"
          id="logo"
          src={logos}
          alt="technologies flyer"
          width="900"
          height="80"
        />
        <!-- Show this image for small screens and hide for large -->
        <Image
          class="inline-block image lg:hidden"
          id="logo-small"
          src={logosSmall}
          alt="technologies flyer small"
          width="250"
          height="80"
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  .logos {
    height: 80px;
    width: 1000px;
    justify-content: center;
    align-items: center;
  }

  .logos-small {
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
</style>
