---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logos from "../images/new-logos.png";
import logosSmall from "../images/new-logos-small.png";
import Showcase from "../components/Showcase.astro";
---

<Layout title="About Astro">
  <Showcase heading="About" />
  <section class="page-content">
    <div class="container" style="text-justify: auto; text-align: center">
      <h2>About This Blog</h2>
      <p>
        On a day like any other, you veer from life’s culturally-designated path
        and realize that a world of opportunities lies just ahead. It may sound
        like a passage from a children’s book meant to inspire courage, but in
        reality, this realization is one of the most unsettling you will ever
        experience.
      </p>

      <p>
        In this humble blog, you will find the tools from which I have crafted
        the ark I use to navigate through the sea of life. It may not be a lot,
        but it will grow alongside my web developer skills and my experiences
        while playing life itself.
      </p>

      <div style="width: 100%; display: flex; justify-content: center;">
        <div
          style="width: 75%; height: 0; padding-bottom: 66%; position: relative;"
        >
          <iframe
            src="https://giphy.com/embed/VHTUhqI82ZgPK?rid=no_related"
            width="75%"
            height="75%"
            style="position: absolute; left: 0; right: 0; margin: auto;"
            frameborder="0"
            class="giphy-embed"></iframe>
        </div>
      </div>
    </div>

    <div style="width: 100%; display: flex; justify-content: center;">
      <img class="logos" src={logos} alt="" />
      <img class="logos-small" src={logosSmall} alt="" />
    </div>
  </section>
</Layout>

<style>
  .logos {
    height: 80px;
    width: 1000px;
    justify-content: center;
    align-items: center;
  }

  .logos-small {
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
  }
</style>
