---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logos from "../images/deploy-logos.png";
import logosSmall from "../images/deploy-logos-small.png";
---

<Layout title="About Astro">
  <section class="page-content">
    <div class="container">
      <h2>About This Blog</h2>
      <p>
        On a day like any other, you veer from life’s culturally-designated path
        and realize that a world of opportunities lies just ahead. It may sound
        like a passage from a children’s book meant to inspire courage, but in
        reality, this realization is one of the most unsettling you will ever
        experience.
      </p>

      <p>
        In this humble blog, you will find the tools from which I have crafted
        the ark I use to navigate through the sea of life. It may not be a lot,
        but it will grow alongside my web developer skills and my experiences
        while playing life itself.
      </p>

      <Card dark={true}>
        <div class="card">
          <h3>Use the tools you already love</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
            deserunt inventore ut voluptate, officia maiores repellat tenetur
            praesentium omnis est ex tempora a necessitatibus reiciendis at et
            dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
            laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
            iusto error molestias dolorum, necessitatibus labore?
          </p>
        </div>
      </Card>

      <img class="logos" src={logos} alt="" />
      <img class="logos-small" src={logosSmall} alt="" />
    </div>
  </section>
</Layout>
