---
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

const posts = await Astro.glob("../posts/*.md");
export const prerender = true;
---

<Layout title="Blog">
  <Showcase
    heading="Blog Binnacle"
    text="A few posts explaining interesting stuff"
  />
  <section class="page-content">
    <div class="container">
      {
        posts
          .sort(
            (a, b) =>
              new Date(String(b.frontmatter.date)) -
              new Date(String(a.frontmatter.date)),
          )
          .map((post) => (
            <Card>
              <h3>{post.frontmatter.title}</h3>
              <div>
                Written by <strong> {post.frontmatter.author}</strong> on
                {new Date(post.frontmatter.date).toLocaleDateString()}
              </div>
              <br />
              <p>{post.frontmatter.excerpt}</p>
              <br />
              <a class="btn" href={`/${post.frontmatter.slug}`}>
                Read More
              </a>
            </Card>
          ))
      }
    </div>
  </section>
</Layout>
