---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

export const prerender = true;
---

<Layout title="Blog">
  <Showcase
    heading="Blog Binnacle"
    text="Inspiring blog posts about my personal challenges and experiences."
  />
  <section class="page-content">
    <div>
      <BlogCard />
    </div>
  </section>
</Layout>
