---
import Unity from "../components/Unity.vue";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <Showcase
    heading="Balls of Steel"
    text="Remain the sole ball on the platform"
  />
  <section class="page-content">
    <Unity />
  </section>
</Layout>
