---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import HabitTrackerApp from "../components/HabitTracker.vue";
import { slide } from "astro:transitions";
---

<Layout title="Habit Tracker" transition:name="habit-tracker">
  <Showcase
    heading="Habit Tracker"
    text="Here's a simple yet powerful tool I learned from James Clear's book 'Atomic Habits.' It involves marking the habits you want to integrate into your daily life and keeping track of them. We often forget to follow through with tasks, and this tool serves as a friendly and encouraging reminder."
  />

  <section>
    <div
      class="lg:flex grid grid-cols-2 sm:flex-row lg:grid-cols-3 lg:justify-between"
    >
      <div
        class="py-2 text-center sm:text-left lg:order-1 lg:flex-none mr-auto"
      >
        <a href="/to-do-list">
          <button
            type="button"
            class="text-purple-600 border-[0.15em] border-purple-600 rounded-full px-4 py-2 transition duration-500 hover:bg-purple-600 hover:text-white"
          >
            <i class="fa-solid fa-arrow-left"></i>
            <span class="mr-2"> Prev</span>
          </button>
        </a>
      </div>

      <div
        class="order-last col-span-2 lg:col-span-1 lg:order-2 lg:flex-1 overflow-auto"
        transition:name="tool"
        transition:animate={slide({ duration: "1s" })}
      >
        <div class="w-11/12 px-4 mx-auto py-4">
          <Card>
            <HabitTrackerApp client:load />
          </Card>
        </div>
      </div>

      <div
        class="py-2 text-center sm:text-right lg:order-3 lg:flex-none ml-auto"
      >
        <a href="/to-do-list">
          <button
            type="button"
            class="text-purple-600 border-[0.15em] border-purple-600 rounded-full px-4 py-2 transition duration-500 hover:bg-purple-600 hover:text-white"
          >
            <span class="mr-2">Next</span>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </a>
      </div>
    </div>
  </section>
</Layout>
