---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Habit Tracker">
  <section class="page-content">
    <div class="container">
      <Card>
        <br />
        <h1>Coming soon...</h1>
      </Card>
    </div>
  </section>
</Layout>
