---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";
import HabitTracker from "../components/HabitTracker.vue";
---

<Layout title="Habit Tracker">
  <Showcase
    heading="Habit Tracker"
    text="Here's a simple yet powerful tool I learned from James Clear's book 'Atomic Habits.' It involves marking the habits you want to integrate into your daily life and keeping track of them. We often forget to follow through with tasks, and this tool serves as a friendly and encouraging reminder."
  />
  <section class="page-content">
    <div class="container">
      <Card>
        <HabitTracker client:load />
      </Card>
    </div>
  </section>
</Layout>
