---
import Layout from "../layouts/Layout.astro";
const name = "Hello World";
const style = "purple";
const users = ["Astro", "Remy", "Kelsey"];
---

<Layout>
  <h1 class={style}>{name}</h1>

  <ul>
    {users.map((user) => <li>{user}</li>)}
  </ul>
</Layout>

<style>
  h1 {
    color: red;
  }

  .purple {
    color: purple;
  }
</style>
