---
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Tabs from "../components/Tabs.astro";
import Layout from "../layouts/Layout.astro";

const name = "Hello World";
---

<Layout>
  <Showcase showExtra={true} />
  <Features />

  <section class="page-content">
    <div class="container">
      <h3>Get Started With Astro</h3>
      <p>
        Get a new Astro project up and running locally with our helpful
        create-astro CLI wizard!
      </p>
      <Tabs
        activeColor="purple"
        headings={["NPM", "PNPM", "YARN"]}
        contents={[
          "$ npm create astro@latest",
          "$ pnpm create astro@latest",
          "$ yarn create astro",
        ]}
      />
      <h3>Start Building</h3>
      <p>
        Astro documentation provide us with an amazingly well organized <a
          href="https://docs.astro.build/en/tutorial/">blog tutorial</a
        > from which we can start with the right foot
      </p>
      <p>
        We will have the <a href="https://www.w3schools.com/js/"
          >JavaScript documentation</a
        > on hand for a quick refresher.
      </p>
      <p>
        Some Vue.js will be integrated into this blog, so that's another <a
          href="https://www.w3schools.com/vue/">documentation</a
        > to include
      </p>
      <p>
        Using a <a
          href="https://github.com/bradtraversy/astro-crash-course/tree/main/astro-website-theme"
          >template</a
        > is a great way to start a new project
      </p>
      <h3>Deploy Your Blog</h3>
      <p>
        <b>$ npm run build</b>
        <p>Push it to <a href="https://github.com/"> Git Hub</a></p>
        <p>Deploy to <a href="https://www.netlify.com/"> Netlify</a></p>
      </p>
    </div>
  </section>
</Layout>

<style>
  a {
    color: #a741ff;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
