---
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

export const prerender = true;
---

<Layout>
  <Showcase showExtra={true} text="powered by" showQuote={true} />
  <section id="hero">
    <div class="container">
      <div class="p-4 mt-8">
        <BlogCard displayLatest={true} />
      </div>
    </div>
  </section>
  <Features />
</Layout>

<style>
  a {
    color: #a741ff;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
