---
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";
import HabitTracker from "../components/HabitTracker.vue";
import Tabs from "../components/Tabs.astro";
import Layout from "../layouts/Layout.astro";

const name = "Hello World";
export const prerender = true;
---

<Layout>
  <Showcase showExtra={true} text="powered by" />
  <Features />

  <section class="page-content">
    <div class="container"></div>
  </section>
</Layout>

<style>
  a {
    color: #a741ff;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
