---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";

const name = "Hello World";
---

<Layout>
  <Showcase />
  <h1>Hello World!</h1>
</Layout>

<style></style>
