---
import ToDo from "../components/ToDoList.vue";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <Showcase
    heading="To Do List"
    text="Simply by crossing a 'to-do' off a list, your brain releases endorphins to keep you motivated throughout the day. Simple, yet powerful."
  />
  <section class="page-content">
    <div class="container">
      <ToDo client:load />
    </div>
  </section>
</Layout>
