---
import ToDo from "../components/ToDoList.vue";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import Card from "../components/Card.astro";
---

<Layout title="Blog" transition:name="to-do-list">
  <Showcase
    heading="To Do List"
    text="Simply by crossing a 'to-do' off a list, your brain releases endorphins to keep you motivated throughout the day. Simple, yet powerful."
  />

  <section>
    <div class="grid justify-between grid-cols-2 lg:flex">
      <!--Button prev -->
      <div class="order-1 py-2 mr-auto">
        <a href="/habit-tracker">
          <button type="button" class="btn-white-bg">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="mr-2"> Prev</span>
          </button>
        </a>
      </div>

      <!--content -->
      <div
        class="order-3 col-span-2 mx-8 mt-4 lg:flex-grow lg:order-2"
        transition:name="tool"
        transition:animate={slide({ duration: "1s" })}
      >
        <div class="w-full">
          <Card>
            <ToDo client:load />
          </Card>
        </div>
      </div>
      <!--Button next -->
      <div class="order-2 py-2 ml-auto lg:order-3">
        <a href="/habit-tracker">
          <button type="button" class="btn-white-bg">
            <span class="mr-2">Next</span>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </a>
      </div>
    </div>
  </section>
</Layout>
