---
export interface Props {
  dark?: boolean;
  text?: string;
}

const { dark = false, text = "" } = Astro.props as Props;
---

<div
  class={`card ${
    dark ? "bg-primary text-white" : "bg-white"
  } p-5 rounded-lg shadow-lg mb-5 shadow-purple-400 hover:shadow-purple-500 hover:-translate-y-1 transition-all duration-300`}
>
  <slot>{text}</slot>
</div>
