---
import Card from "./Card.astro";

const featuresData = [
  {
    title: "Blazingly Fast Loading Times",
    body: "This webpage was created using a powerful new framework called Astro.",
  },
  {
    title: "Powerful Tools",
    body: "Here, you'll discover incredible tools to enhance your daily life; everything you need on a single website",
  },
  {
    title: "We all know how hard life can get",
    body: "Discover a fresh perspective on life's challenges and find renewed inspiration through our blog's unique insights.",
  },
];
---

<section class="features">
  <div class="container">
    {
      featuresData.map((feature) => (
        <Card dark={false}>
          <h3 class="font-bold py-2 text-center">{feature.title}</h3>
          <p class="text-center">{feature.body}</p>
        </Card>
      ))
    }
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
