---
import { fade, slide } from "astro:transitions";
import logo from "../images/monkey-business.png";
import icon from "../images/icon-monkey.png";
import { Image } from "astro:assets";
import MobileMenu from "./MobileMenu.vue";
---

<div class="bg-primary">
  <!-- Nav container  -->
  <nav class="container relative pl-0 pr-0">
    <!-- Nav Bar  -->
    <div
      class="flex flex-row items-center justify-between p-4 mx-3 mt-6 space-x-4 space-y-8 sm:flex-col lg:space-x-8 lg:space-y-0 lg:flex-row"
    >
      <!-- Logos -->
      <div
        class="flex flex-row items-center justify-center sm:space-x-4 sm:flex-row"
      >
        <a href="index.html">
          <Image
            class="w-16 h-16 sm:h-20 sm:w-20"
            alt="icon-monkey"
            src={icon}
          />
        </a>
        <a href="index.html">
          <Image class="w-72 sm:w-full" alt="logo-title" src={logo} />
        </a>
      </div>

      <!-- Links  -->
      <div
        class="flex-row items-center justify-between hidden space-x-6 font-bold text-center transition sm:flex text-terciary lg:space-x-2"
      >
        <a href="/" class="nav-btn"> Home</a>

        <!-- Games Tab  -->
        <div class="relative py-1 outline-none group" tabindex="1">
          <div
            id="tools"
            class="flex items-center justify-between px-4 py-2 space-x-2 transition duration-500 border rounded-full cursor-pointer group group-hover:scale-110 ease group-hover:bg-gray-50 group-focus:scale-110 group-focus:bg-gray-50"
          >
            <div class="">Games</div>
            <!-- Arrow -->
            <div class="transition duration-500 group-hover:-rotate-180">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  d="M1 1l8 8 8-8"></path>
              </svg>
            </div>
          </div>
          <!-- Tab Inner Content -->
          <div class="tab-content-bg">
            <a
              href="/game?search=https://64e50a20839a9019d51bb911--delicate-belekoy-4e9031.netlify.app/"
              class="tab-content">Balls of Steel</a
            >
            <a
              href="/game?search=https://64e88ff4dd8a1c0a6a4fb402--wondrous-cajeta-945cf0.netlify.app/"
              class="tab-content">Clicky Crates</a
            >
          </div>
        </div>

        <!-- Tools Tab  -->
        <div class="relative py-1 outline-none group" tabindex="1">
          <div
            id="tools"
            class="flex items-center justify-between px-4 py-2 space-x-2 transition duration-500 border rounded-full cursor-pointer group group-hover:scale-110 ease group-hover:bg-gray-50 group-focus:scale-110 group-focus:bg-gray-50"
          >
            <div class="">Tools</div>
            <!-- Arrow -->
            <div
              class="transition duration-500 ease group-focus:-rotate-180 group-focus:text-purple-500"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
                <path
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  d="M1 1l8 8 8-8"></path>
              </svg>
            </div>
          </div>
          <!-- Tab Inner Content -->
          <div class="tab-content-bg">
            <a href="/to-do-list" class="tab-content">To Do List</a>
            <a href="/habit-tracker" class="tab-content">Habit Tracker</a>
            <a href="/weather-app" target="_parent" class="tab-content"
              >Weather App</a
            >
            <a
              href="/about#youtube-profile"
              target="_parent"
              class="tab-content">YouTube Profile</a
            >
          </div>
        </div>

        <a href="/about" class="nav-btn"> About</a>

        <a href="/blog" class="nav-btn"> Blog</a>
      </div>

      <!-- Mobile Menu  -->
      <MobileMenu client:visible />
    </div>
  </nav>
</div>
