@import "./styles/global.css";
@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a:link {
    color: forestgreen;
    text-decoration-color: hotpink;
  }
  a:hover {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  .h1 {
    font-size: 30px;
  }
  /* ... */
}
